<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gordon.springboot.mapper.GwUserMapper">
  <resultMap id="BaseResultMap" type="com.gordon.springboot.entity.GwUser">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="login_fail_num" jdbcType="INTEGER" property="loginFailNum" />
    <result column="lock_stime" jdbcType="TIMESTAMP" property="lockStime" />
    <result column="lock_duration" jdbcType="INTEGER" property="lockDuration" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="allColumn">
      user_id, username, password,
      salt, email, mobile,
      status, login_fail_num, lock_stime,
      lock_duration, create_time, update_time
  </sql>

  <sql id="allWhere">
    where 1 = 1
    <if test="userId != null and userId != ''">and userId = #{userId}</if>
    <if test="username != null and username != ''">and username = #{username}</if>
    <if test="password != null and password != ''">and password = #{password}</if>
    <if test="salt != null and salt != ''">and salt = #{salt}</if>
    <if test="email != null and email != ''">and email = #{email}</if>
    <if test="mobile != null and mobile != ''">and mobile = #{mobile}</if>
    <if test="status != null and status != ''">and status = #{status}</if>
    <if test="loginFailNum != null and loginFailNum != ''">and loginFailNum = #{loginFailNum}</if>
    <if test="createTime != null and createTime != ''">and createTime = #{createTime}</if>
    <if test="updateTime != null and updateTime != ''">and updateTime = #{updateTime}</if>
    /* 开始时间 和 结束时间*/
    <if test="startTime != null and startTime != ''">and createTime >= #{startTime}</if>
    <if test="endTime != null and endTime != ''"><![CDATA[and createTime <= #{endTime}]]></if>
  </sql>


  <select id="findUserListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
      <include refid = "allColumn"/>
    from gw_user
      <include refid = "allWhere"/>
  </select>


  <insert id="insert" parameterType="com.gordon.springboot.entity.GwUser">
    insert into gw_user (user_id, username, `password`,
      salt, email, mobile,
      `status`, login_fail_num, lock_stime,
      lock_duration, create_time, update_time
      )
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{salt,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{loginFailNum,jdbcType=INTEGER}, #{lockStime,jdbcType=TIMESTAMP},
      #{lockDuration,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <!--上面的和下面的这个插入数据后 数据库建表中使用的默认值都不会生效，因为此时它们都有默认值""-->
  <insert id="insertUser" parameterType="com.gordon.springboot.entity.GwUser">
    insert into gw_user (user_id, username, `password`,
      salt, email, mobile,
      `status`, login_fail_num, lock_stime,
      lock_duration
      )
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{salt,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{status,jdbcType=VARCHAR}, #{loginFailNum,jdbcType=INTEGER}, #{lockStime,jdbcType=TIMESTAMP},
      #{lockDuration,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.gordon.springboot.entity.GwUser">
    insert into gw_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="loginFailNum != null">
        login_fail_num,
      </if>
      <if test="lockStime != null">
        lock_stime,
      </if>
      <if test="lockDuration != null">
        lock_duration,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="loginFailNum != null">
        #{loginFailNum,jdbcType=INTEGER},
      </if>
      <if test="lockStime != null">
        #{lockStime,jdbcType=TIMESTAMP},
      </if>
      <if test="lockDuration != null">
        #{lockDuration,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateUser" parameterType="com.gordon.springboot.entity.GwUser">
    update gw_user
      <set>
          <if test="username != null and username != ''">
            username = #{username,jdbcType=VARCHAR},
          </if>
          <if test="password != null and password != ''">
            `password` = #{password,jdbcType=VARCHAR},
          </if>
          <if test="salt != null and salt != ''">
            salt = #{salt,jdbcType=VARCHAR},
          </if>
          <if test="email != null and email != ''">
            email = #{email,jdbcType=VARCHAR},
          </if>
          <if test="mobile != null and mobile != ''">
            mobile = #{mobile,jdbcType=VARCHAR},
          </if>
          <if test="status != null and status != ''">
            `status` = #{status,jdbcType=VARCHAR},
          </if>
          /*Java代码中传递的整数0在mybatis中被识别成null*/
          <if test="loginFailNum != null and loginFailNum != '' or loginFailNum == 0">
            login_fail_num = #{loginFailNum,jdbcType=INTEGER},
          </if>
          <if test="lockStime != null">
            lock_stime = #{lockStime,jdbcType=TIMESTAMP},
          </if>
          <if test="lockDuration != null and lockDuration != ''">
            lock_duration = #{lockDuration,jdbcType=INTEGER}
          </if>
      </set>
      where 1=1 and
      <if  test="userId != null and userId != ''">
          user_id = #{userId,jdbcType=BIGINT}
      </if>
  </update>


</mapper>