<meta charset="UTF-8">
<!-- Bootstrap响应式 -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="${request.contextPath}/statics/css/bootstrap-4.0.0.css">
<link rel="stylesheet" href="${request.contextPath}/statics/css/font-awesome4.7.0.css">




<link rel="stylesheet" href="${request.contextPath}/statics/css/common.css">


<!--<link rel="stylesheet" href="${request.contextPath}/statics/plugins/jqgrid/ui.jqgrid-bootstrap.css">-->
<!--<link rel="stylesheet" href="${request.contextPath}/statics/plugins/ztree/css/metroStyle/metroStyle.css">-->
<!--<link rel="stylesheet" href="${request.contextPath}/statics/css/main.css">-->






