<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>登录</title>
    <!--标签页图标-->
    <link rel="icon" type="image/x-icon" href="${ctxPath}/imgs/favicon.ico">
    <link rel="stylesheet" href="${ctxPath}/css/bootstrap-4.0.0.css">
    <link rel="stylesheet" href="${ctxPath}/css/font-awesome4.7.0.css">
    <link rel="stylesheet" href="${ctxPath}/css/common.css">

    <style>
        html{
            width:100%;
            height: 100%;
        }
        body{
            width:100%;
            height: 100%;
            background:url('${ctxPath}/imgs/body-background.jpg') no-repeat;
            background-size: cover;
        }
        .divCenter{
            width: 320px;
            height: 400px;
            position: absolute;
            left: 50%;
            top: 50%;
            /*margin: -160px 0 0 -200px;*/
            background-color: rgba(229, 229, 229, 0.64);
            -webkit-transform: translate(-50%, -50%) !important;
            -moz-transform: translate(-50%, -50%) !important;
            -ms-transform: translate(-50%, -50%) !important;
            -o-transform: translate(-50%, -50%) !important;
            transform: translate(-50%, -50%) !important;
        }
        a{
            text-decoration:none;
        }
        /**a标签鼠标移入移出是的样式*/
        a:hover{
            text-decoration:none;/*下掉下划线*/
            color: #0c0c0c;/*鼠标移入时的颜色*/
        }

        /**覆盖 选项卡背景颜色*/
        .nav-pills .nav-link.active,
        .nav-pills .show > .nav-link {
            color: #fff;
            background-color: transparent !important;
            /*background-color: rgba(210, 202, 118, 0.38);*/
        }
    </style>

</head>
<body>


<div class="divCenter">
    <div>
        <ul class="nav nav-pills nav-justified" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" style="text-align: center;font-size:20px;  line-height:40px; border-radius: 0px;background-color: rgba(210, 202, 118, 0.38);"
                   data-toggle="pill" href="#loginDiv">登录</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" style="text-align: center;font-size:20px; line-height:40px; border-radius: 0px;background-color: rgba(210, 202, 118, 0.38);"
                   data-toggle="pill" href="#registerDiv">注册</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="loginDiv" class="container tab-pane active">
            <div class="h3 pt-2 pb-2" style="text-align: center">Gordon Web</div>
            <!--autocomplete="off" 不缓存input框上次输入的值-->
            <form id="loginForm" class="row m-auto">
                <!--<form id="loginForm" class="row m-auto" action="login" method="post">-->
                <div class="col-12 input-group form-group">
                    <!--<span class="input-group-prepend"><i class="fa fa-envelope-o fa-fw"></i></span>-->
                    <input id="username" name="username" type="text" placeholder="用户名" class="form-control" style="box-shadow: none"/>
                </div>
                <div class="col-12 input-group form-group">
                    <!-- autocomplete="new-password":解决form表单自动填充缓存  -->
                    <input id="password" name="password" type="password" autocomplete="new-password" placeholder="密码" class="form-control" style="box-shadow: none"/>
                </div>
                <div class="col-12 form-group" style="margin-bottom: 4px;">
                    <input id="verCode" name="verCode" type="text" placeholder="验证码" class="col-7 form-control" style="box-shadow: none;display: inline-block;"/>
                    <img class="col-4 pointer pr-0 pl-0 float-right"  alt="点击刷新" src="${ctxPath}/verifyCode" style="margin-top:1px;border: 2px solid rgba(219,219,194,0.75);"/>
                </div>
                <div class="col-12 form-check">
                    <input id="remeberMe" name="remeberMe" type="checkbox" class="form-check-input" style="margin-top: 7px;margin-left: 0px"/>
                    <label class="form-check-label" for="remeberMe" style="margin-left: 16px">记住我</label>
                    <a style="float:right" href="#">忘记密码？</a>
                </div>
                <div class="col-12 form-group mt-3 mb-1">
                    <button id="btnLogin" class="col-12 btn btn-success" style="box-shadow: none">登录</button>
                </div>
                <div class="m-auto">
                    <span>没有账号？</span>
                    <!--<a class="ml-2" href="/register">立即注册</a>-->
                    <a class="ml-2" href="#" data-toggle="modal" data-target="#registerModal">立即注册</a>
                </div>
                <div class="col-12 form-group" style="text-align: center;">
                    <span id="login_msg" style="display:none;color: blue;font-weight:bold">用户名或密码错误</span>
                </div>
            </form>
        </div>
        <div id="registerDiv" class="container tab-pane fade" style="height: 344px;">
            <form id="registerForm" class="row m-auto pt-4" action="${ctxPath}/register" method="post">
                <div class="col-12 input-group form-group">
                    <!--<span class="input-group-prepend"><i class="fa fa-envelope-o fa-fw"></i></span>-->
                    <input id="rusername" name="rusername" type="text" placeholder="用户名" class="form-control" style="box-shadow: none"/>
                </div>
                <div class="col-12 form-group">
                    <input id="rpassword" name="rpassword" type="password" placeholder="密码" class="form-control" style="box-shadow: none"/>
                </div>
                <div class="col-12 form-group" >
                    <input id="rspassword" type="password" placeholder="确认密码" class="form-control" style="box-shadow: none"/>
                </div>
                <div class="col-12 form-group" >
                    <input id="rviCode" name="verCode" type="text" placeholder="验证码" class="col-7 form-control" style="box-shadow: none;display: inline-block;"/>
                    <img class="col-4 pointer pr-0 pl-0 float-right"  alt="点击刷新" src="${ctxPath}/verifyCode" style="margin-top:1px;border: 2px solid rgba(219,219,194,0.75);"/>
                </div>
                <div class="col-12 form-group mt-2 mb-1">
                    <button id="btnRegister" class="col-12 btn btn-success" type="submit" style="box-shadow: none">注册</button>
                </div>
                <div class="col-12 form-group" style="text-align: center;">
                    <span id="register_msg" style="display:none;color: blue;font-weight:bold;margin-top:10px;">注册失败信息</span>
                </div>
            </form>
        </div>
    </div>
    <!--<button id="showLoading" class="btn-success btn">测试loading</button>-->
</div>


<!-- 注册模态框 -->
<div class="modal fade" id="registerModal">
    <div class="modal-dialog" style="width: 350px;">
        <div class="modal-content">
            <!-- 模态框头部 -->
            <div class="modal-header">
                <h4 class="modal-title" style="width: 100%;text-align: center;" >用户注册</h4>
                <button type="button" class="close pull-right" data-dismiss="modal" style="padding: 0 5px 5px 0;">&times;</button>
            </div>

            <!-- 模态框主体 -->
            <div class="modal-body">
                <form class="row m-auto" action="${request.contextPath}/register">
                    <div class="col-12 input-group form-group">
                        <!--<span class="input-group-prepend"><i class="fa fa-envelope-o fa-fw"></i></span>-->
                        <input id="registerusername" type="text" placeholder="用户名" class="form-control" style="box-shadow: none"/>
                    </div>
                    <div class="col-12 form-group">
                        <input id="registerpassword" type="password" placeholder="密码" class="form-control" style="box-shadow: none"/>
                    </div>
                    <div class="col-12 form-group" style="margin-bottom: 4px;">
                        <input id="reregisterpassword" type="password" placeholder="确认密码" class="form-control" style="box-shadow: none"/>
                    </div>
                    <div class="col-12 form-group mt-3 mb-1">
                        <button id="register" class="col-12 btn btn-success" type="submit" style="box-shadow: none">注册</button>
                    </div>
                </form>
            </div>

            <!-- 模态框底部 -->
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            </div>-->
        </div>
    </div>
</div>

<script src="${ctxPath}/js/jquery-3.2.1.js"></script>
<script src="${ctxPath}/js/popper-1.12.9.js"></script>
<script src="${ctxPath}/js/bootstrap-4.0.0.js"></script>
<script src="${ctxPath}/js/module/loading.js"></script>
<script src="${ctxPath}/js/module/common.js"></script>
<script src="${ctxPath}/js/module/login.js"></script>

<script>
    /*$(function () {

    });*/

    $(document).ready(function () {

        /* bootstrap tab 显示事件
            show.bs.tab:标签页显示之前，触发该事件。
            shown.bs.tab:标签页被显示，并且CSS动画也播放结束之后，触发该事件。
         */
        $('a[data-toggle="pill"]').on('show.bs.tab', function (e) {
            //e.target          // 当前活动的标签页
            //e.relatedTarget   // 上一次活动的标签页
            // 清空form表单 不能直接使用$("#loginForm").reset()，jquery报错 没有这个方法
            $("#loginForm")[0].reset();
            $("#registerForm")[0].reset();
            $("#login_msg").hide();
            $("#register_msg").hide();
            //console.log(" == tab 切换 更新验证码=== ");
            $(".pointer").attr("src","${ctxPath}/verifyCode?t=" + $.now());
        });
        /*hover() 方法规定当鼠标指针悬停在被选元素上时要运行的两个函数。
                方法触发 mouseenter(当鼠标指针位于元素上方时) 和 mouseleave(鼠标移出) 事件。*/
        // $("#username").hover(function () {
        //     $(this).attr("placeholder","");
        // },function () {
        //     $(this).attr("placeholder","用户名");
        // });

        $("#username").bind("focus",function () {
            $(this).attr("placeholder","");
            $("#login_msg").hide();
        });
        $("#username").bind("blur",function () {
            $(this).attr("placeholder","用户名");
        });
        $("#password").bind("focus",function () {
            $(this).attr("placeholder","");
            $("#login_msg").hide();
        });
        $("#password").bind("blur",function () {
            $(this).attr("placeholder","密码");
        });
        $("#registerusername").bind("focus",function () {
            $(this).attr("placeholder","");
            $("#register_msg").hide();
        });
        $("#registerusername").bind("blur",function () {
            $(this).attr("placeholder","用户名");
        });
        $("#registerpassword").bind("focus",function () {
            $(this).attr("placeholder","");
            $("#register_msg").hide();
        });
        $("#registerpassword").bind("blur",function () {
            $(this).attr("placeholder","密码");
        });
        $("#reregisterpassword").bind("focus",function () {
            $(this).attr("placeholder","");
            $("#register_msg").hide();
        });
        $("#reregisterpassword").bind("blur",function () {
            $(this).attr("placeholder","确认密码");
        });
        $("input[name='verCode']").bind("focus",function () {
            $("#login_msg").hide();
            $("#register_msg").hide();
        });

        // 刷新验证码
        $(".pointer").bind("click",function () {
            $(".pointer").attr("src","${ctxPath}/verifyCode?t=" + $.now());
            $("input[name='verCode']").val("");// 查找jquery 如何根据name获取元素
            $("input[name='verCode']").focus();// 清空后 获取焦点
        });

        // $modal.on('shown.bs.modal', function(event) {
        //     var $modalDialog = $modal.find('.modal-dialog');
        //     h = $modalDialog.height();
        //     w = $modalDialog.width();
        //
        //     $modalDialog.css({
        //         marginLeft: -w / 2,
        //         marginTop: -h / 2
        //     });
        // });

        // $("#showLoading").bind("click",function () {
        //     $.loading.show();
        // });

        // F5刷新会重新提交表单数据，浏览器弹窗重新提交提示框
        // $("#loginForm").bind("submit",function (event) {
        //     var url = $(this).attr("action");
        //     var method = $(this).attr("method");
        //     var formData = new FormData(this);
        //     console.log("ajax from 提交");
        //     $.ajax({
        //         url:url,
        //         type:method,
        //         data:formData,
        //         success:function (result) {
        //             var flag = result.code;
        //             if(flag == "0000"){
        //                 console.log("登录成功");
        //                 $("#login_msg").hide();
        //                 location.href = "/index";
        //             }else{
        //                 console.log("登录失败");
        //                 $("#login_msg").show();
        //             }
        //         }
        //     });
        // });


        // 点击一次 却提交了两次

        // 推荐使用此方式，不会造成F5刷新时重新提交表单数据
        $("#btnLogin").bind("click",function () {
            // var url = $("#loginForm").attr("action");
            // var method = $("#loginForm").attr("method");
            var formData = new FormData();
            formData.append("username",$("#username").val());
            formData.append("password",$("#password").val());
            formData.append("verCode",$("#verCode").val());
            formData.append("remeberMe",$("#remeberMe").is(":checked"));
            // 不要使用checked属性，高版本不准，jquery1.6版本后选中时是true ，没选中是undefined
            console.log("remeberMe = "+$("#remeberMe").is(":checked"));
            // console.log("ajax url : "+url + "   method : " + method);
            $.ajax({
                url:"login",
                type:"post",
                data:formData,// form标签不能写action method 否则会提交两次(ajax一次，form本身一次)
                dataType:"json",
                // contentType: "application/json;charset=UTF-8",
                // processData默认为true,为true时提交的data不会序列化，
                // 导致前端报Uncaught TypeError: Illegal invocation
                processData:false,
                contentType:false,
                success:function (result) {
                    var flag = result.code;
                    if(flag == "0000"){
                        console.log("登录成功");
                        // location.href = "index.html";
                        // /toHome 和 toHome 的区别 ：
                        //      加了/的不会自动添加ctxPath，导致404
                        //      不加/会自动添加ctxPath
                        location.href = "${ctxPath}/toMain";
                    }else{
                        console.log("登录失败");
                        $("#login_msg").show().html(result.msg);
                        $(".pointer").attr("src","${ctxPath}/verifyCode?t=" + $.now());
                    }
                    $.loading.hide();
                },
            });
            // 必须返回false，否则form或formData提交时会自动跳转页面
            return false;
        });

        $("#registerForm").bind("submit",function () {
            var url = $(this).attr("action");
            var method = $(this).attr("method");
            var formData = new FormData(this);
            console.log("ajax register from 提交");
            $.ajax({
                url:url,
                type:method,
                data:formData,
                processData:false,
                contentType:false,
                success:function (result) {
                    var flag = result.code;
                    if(flag == "0000"){
                        console.log("注册成功");
                        // $("#login_msg").hide();
                        // location.href = "/index";
                    }else{
                        console.log("注册失败：" + result.msg);
                        $("#register_msg").show().html(result.msg);
                        $(".pointer").attr("src","${ctxPath}/verifyCode?t=" + $.now());
                    }
                }
            });
            return false;
        });

    });


</script>



</body>
</html>