<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<body>

<div style="height: 50px;background-color: #00a7d0;">
    <div style="width: 400px"></div>
    <div style="float:right;height: 50px;background-color: #ebebeb;padding:0px 10px;display: flex;
    justify-content:center;
    align-items:Center;">
        <img src="../static/imgs/user.jpg" style="border-radius:50%;" alt="">
        <div style="text-align: center;margin-left:5px;float:right;background-color: rgba(222,184,135,0.4);">
            <div>
            <span>欢迎</span>
            </div>
            <!--<br>-->
            <div>
            <span>gordon</span>
            </div>
        </div>

    </div>

    <br>
    <br>
    <br>

    <div>
        <input type="radio" value="0" name="testRadio" id="test-radio">
        <label for="test-radio">非定向</label>

        <br>

        <input type="radio" value="0" name="testRadio" id="test-radio1">
        <label for="test-radio1">定向</label>

    </div>


</div>
<script src="../static/js/jquery-3.2.1.js"></script>

<script>
    $(document).ready(function(){
        // $("input[name='testRadio']").each(function () {
        //    $(this).change(function () {
        //        var check = $(this).is(":checked");
        //        alert("check : " + check);
        //    }) ;
        // });
        //
        // $("#test-radio").click(function () {
        //    var check = $(this).is(":checked");
        //    alert("check : " + check);
        // });

        var radio = document.getElementById("test-radio");
        var echekc = radio.checked;
        alert(" echekc : " + echekc);

    });
</script>

</body>
</html>