<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
</head>
<body>

<div style="height: 50px;background-color: #00a7d0;">
    <div style="width: 400px"></div>
    <div style="float:right;height: 50px;background-color: #ebebeb;padding:0px 10px;display: flex;
    justify-content:center;
    align-items:Center;">
        <img src="../static/imgs/user.jpg" style="border-radius:50%;" alt="">
        <div style="text-align: center;margin-left:5px;float:right;background-color: rgba(222,184,135,0.4);">
            <div>
            <span>欢迎</span>
            </div>
            <!--<br>-->
            <div>
            <span>gordon</span>
            </div>
        </div>
    </div>

</div>

</body>
</html>