<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="${ctxPath}/css/font-awesome4.7.0.css">
    <title>test1</title>
</head>
<body>
    <h1>首页</h1>
    <h1>首页</h1>
    <h1>首页</h1>
    <button onclick="testLayJs()">测试iframe中能否使用主页面已进入的js，这里测试layui</button>
    <a class="list-group-item" href="#"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; 首页</a>

    <button id="testParemter" onclick="hasParamter()">测试获取权限</button>



    <script>
        function testLayJs(){
            layer.msg("成功引用主页面中的js");
        }

        function hasParamter(){
            location.href = "${ctxPath}/test/getUserPermission?userId=1";
        }


    </script>

</body>
</html>