<script src="${request.contextPath}/static/js/jquery-3.2.1.js"></script>
<script src="${request.contextPath}/static/js/popper-1.12.9.js"></script>
<script src="${request.contextPath}/static/js/bootstrap-4.0.0.js"></script>



<script src="${request.contextPath}/static/js/loading.js"></script>
<script src="${request.contextPath}/static/js/common.js"></script>
<!--<script src="${request.contextPath}/statics/libs/jquery.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/layer/layer.js"></script>-->
<!--<script src="${request.contextPath}/statics/libs/bootstrap.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/libs/vue.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/jqgrid/grid.locale-cn.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/jqgrid/jquery.jqGrid.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/plugins/ztree/jquery.ztree.all.min.js"></script>-->
<!--<script src="${request.contextPath}/statics/js/common.js"></script>-->